:root{
    --font-size: 30px;
}

@font-face{
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'JalnanGothic', sans-serif;
    box-sizing: border-box;
    font-size: var(--font-size);
}

body, html{
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.badge{
    margin-right: 4px;
    margin-bottom: .15em;
    width: var(--font-size);
    height: var(--font-size);
}

.emoji{
    margin-right: 1px;
    margin-bottom: .17em;
    width: calc(var(--font-size) + 6px);
    height: calc(var(--font-size) + 6px);
}

.message-box{
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.45);

    opacity: 0;
    transition: all .5s ease-in-out;
}
.message-box + .message-box{
    margin-top: 4px;
}

.message-box *{
    vertical-align: middle;
}

.nickname{
    position: relative;
    display: inline-block;
}

.message{
    color: white;
}

.text-shadow{
    text-shadow: 0 0 1px #000,
                 0 0 2px #000,
                 0 0 3px rgba(0, 0, 0, 0.65),
                 0 0 4px rgba(0, 0, 0, 0.65),
                 0 0 5px rgba(0, 0, 0, 0.65),
                -1px -1px 1px rgba(0, 0, 0, 0.65),
                 1px -1px 1px rgba(0, 0, 0, 0.65),
                -1px  1px 1px rgba(0, 0, 0, 0.65),
                 1px  1px 1px rgba(0, 0, 0, 0.65);
}

.nickname > *:first-child{
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    white-space: pre;
    pointer-events: none;
}

.nickname > *:last-child{
    position: relative;
    white-space: pre;
}